.card {
  background-color: #401466;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}

table,
th,
td {
  border: 3px solid black;
  border-collapse: collapse;
}

th,
td {
  background-color: #29293d;
  padding: 5px;
}

td {
  font-size: 14px;
}

th {
  font-size: 17px;
}

body {
    font-family: "Helvetica";
}
