body {
  background-color: #101119;
  color: white;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #20232a;
  padding: 10px;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav {
  display: flex; 
  justify-content: center; 
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  text-decoration: underline;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #2c2c2c;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

th {
  background-color: #20232a;
}

tr:hover {
  background-color: #353c49;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

#addButton {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}

#addButton:hover {
  background-color: #218838;
}

.deleteButton {
  padding: 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: #c82333;
}
